<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/all-plants.css' />
<section id="mygarden-page">
<h1>My Garden</h1>
<h2>Plants</h2>
<table id="plant-list">
  <tbody>
    <% plants.forEach(function(p) { %>
      <tr>
        <td><%= p.name %></td>
        <td><a href="/plants/<%= p._id %>">Details</a></td>
        <td><form action="/plants/<%= p._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form></td>
      </tr>
      <% }) %>
  </tbody>
</table>
</section>
<%- include('../partials/footer') %>