<%- include('../partials/header') %>
<h1> Plant Details</h1>
<section id="show-page">
  <div>Name: <%= plant.name %></div>
  <br>
  <div>Plant Type: <%= plant.plantType %></div>
  <br>
  <div>Date Planted: <%= plant.datePlanted %></div>
  <br>
  <div>Sunshine Recommendation: <%= plant.sunshineRec %></div>
  <br>
  <div>Water Recommendation: <%= plant.waterRec %></div>
</section>

<%- include('../partials/footer') %>