<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/details.css' />
<section id="main">
<section>
  <h1> ~<%= plant.name %>~</h1>
  <div >
    <img src="<%= plant.imageLink %>" class="picture"/> 
  </div>
  <br>
  <div>Name: <%= plant.name %></div>
  <br>
  <div>Plant Type: <%= plant.plantType %></div>
  <br>
  <div>Date Planted: <%= plant.datePlanted %></div>
  <br>
  <div>Sunshine Recommendation: <%= plant.sunshineRec %></div>
  <br>
  <div>Water Recommendation: <%= plant.waterRec %></div>
</section>
<br><br><br>

<div class="container">
<h2>Observations</h2>
<label>New Observation:</label>
<% if (user) { %>
  <form id="add-observation-form" method="POST" id="obsform"
    action="/plants/<%= plant._id %>/observations">
    <textarea name="content"></textarea>
    <br>
    <input type="submit" value="Submit" id="submitob">
  </form>
<% } %> 
<br><br>
<% if (plant.observations.length) { %>
  <div class="table-container">
  <table id="observation-table">
    <colgroup>
      <col style="width: 30%;" />
      <col style="width: 20%;" />
      <col style="width: 45%;" />
      <col style="width: 5%;" />
    </colgroup>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Observation</th>
      </tr>
    </thead>
    <tbody>
      <% plant.observations.forEach(function(observation) { %>
        <tr>
          <td class="observation-user"><img alt="avatar" src="<%= observation.user.avatar %>" referrerpolicy="no-referrer"><%= observation.user.name %></td>
          <td><%= observation.createdAt.toLocaleDateString() %></td>
          <td class="observation-content"><%= observation.content %></td>
          <td class="observation-delete">
            <% if (user._id.equals(observation.user._id)) { %>
              <form action="/observations/<%= observation._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
  <% } else { %>
    <h5>No Observations Yet</h5>
  <% } %>
  </div>
</section>
<%- include('../partials/footer') %>