<%- include('../partials/header') %>
<h1> Plant Details</h1>
<section id="show-page">
  <div>Name: <%= plant.name %></div>
  <br>
  <div>Plant Type: <%= plant.plantType %></div>
  <br>
  <div>Date Planted: <%= plant.datePlanted %></div>
  <br>
  <div>Sunshine Recommendation: <%= plant.sunshineRec %></div>
  <br>
  <div>Water Recommendation: <%= plant.waterRec %></div>
</section>
<br><br><br>
<h2>Observations</h2>
<label>New Observation:</label>
<form id="add-observation-form" method="POST"
  action="/plants/<%= plant._id %>/observations">
  <textarea name="content"></textarea>
  <input type="submit" value="Submit">
</form>
<%- include('../partials/footer') %>