<%- include('./partials/header') %>
<h1> Plant Details</h1>
<section id="show-page">
  <div>Name: <%= p.name %></div>
  <div>Plant Type: <%= p.plantType %></div>
  <div>Date Planted: <%= p.datePlanted %></div>
  <div>Sunshine Recommendation: <%= p.sunshineRec %></div>
  <div>Water Recommendation: <%= p.waterRec %></div>
</section>

<%- include('./partials/footer') %>